.fundo_branco{
   overflow: hidden;
}

.title-modal{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}   

.title-modal button{
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    position: absolute;
    top:     20px;
    right: 1rem;
    z-index: 1;
}

.title-modal button:hover{
    transform: scale(1.2);
}

img{
    display: block;
    width: 100%;
}

#icon_x{
    color : white
}
#nameHotel{

    font-weight: bold;
    cursor: pointer;
}

.baixo{
    padding: 0 1rem 1rem 1rem ;
}

.parte_baixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}       

.modalReserva{
    background-color: #0071c2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Price{
    font-weight: bold;
    font-size: 1.2rem;
}

.vibe{
    margin-top: 1rem;
}