# Compiled output
/dist/
out-tsc/

# Angular build cache
.angular/

# Node
/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operacional
.

