<div class="Auth_container" *ngIf="initialized">
    <div id="linha-principal">
        <h2>{{ IsLoginMode ? 'Entrar na sua conta' : 'Criar conta' }}</h2>
        <button id="fecharModal" (click)="fecharModal()"><i class="fi fi-br-cross"></i></button>
    </div>

    <p>{{ IsLoginMode ? "Acesse para gerenciar suas reservas e preferências" : "Cadastre-se para começar a planejar suas viagens" }}</p>

    <form class="form_geral" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
        <div class="form_sem_btn">
            <!-- MODO REGISTRO -->
            <div *ngIf="!IsLoginMode" class="forms_nome">
                <label for="name">Nome *</label>
                <input id="name" formControlName="name" placeholder="Seu nome" />
                <small *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error">
                    Nome é obrigatório
                </small>
            </div>
            
            <!-- EMAIL (AMBOS OS MODOS) -->
            <label for="email">Email *</label>
            <input id="email" formControlName="email" type="email" placeholder="seu@email.com"/>
            <small *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error">
                Email inválido
            </small>

            <!-- SENHA (AMBOS OS MODOS) -->
            <label for="password">Senha *</label>
            <input id="password" type="password" formControlName="password" placeholder="Mínimo 6 caracteres"/>
            <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error">
                Senha deve ter pelo menos 6 caracteres
            </small>
        </div>
        
        <div class="btns">
            <button id="submit" type="submit" [disabled]="isLoading || form.invalid">
                {{ isLoading ? 'Processando...' : (IsLoginMode ? 'Entrar' : 'Cadastrar') }}
            </button>
            <button id="troca_modo" type="button" (click)="toggleMode()" [disabled]="isLoading">
                {{ IsLoginMode ? 'Criar conta' : 'Já tenho conta' }}
            </button>
        </div>
        
    </form>
</div>