@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');



.Auth_container {
    background: white;
    width: 100%;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 8px 4px 6px rgba(96, 96, 96, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    animation: modalFadeIn 0.3s ease-out;

    p{
        margin: 5px;
    }
}

/* Animação de entrada do modal */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

div #linha-principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2{
        font-size: larger;
    }

    button{
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;

        background: none;
        border: none;
        
    }
}

.form_geral{
    width: 100%;    
}

div .form_sem_btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    gap: 10px; 
    padding: 10px;
}

div .form_sem_btn input{
        width: 100%;
        border-radius: 10px;
        padding: 5px 8px 5px 8px;
        background: #F5F5F5;

        border: none;
    }

div .forms_nome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

div .btns{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#submit{
    margin-right: 5px;
    width: 70%;
    height: 2.5rem;
    background: var(--btn_principal);
    border: none;
    border-radius: 8px;
    color: white;
}

#troca_modo{
    width: 30%;
    height: 2.5rem;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
}