header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
    box-shadow: 8px 5px 15px rgba(0, 0, 0, 0.1);

}
.logo {
    display: flex;
    gap: 8px;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: 400;
}


.btn-logout{
    background: white;
    border: 1.5px solid #b1b1b1;
    border-radius: 8px;
    padding: 2px 6px;
}

.btn-logout:hover{
    background-color: #b1b1b1;
    color: white;
    transition: 0.5s ease   ;
}
#signup {
    background-color: var(--btn_secondary);
    color: white;
    transition: 0.5s ease   ;
}
#signup:hover{
    background-color: var(--btn_secondary_hover);
}

#login {
    background: none;    
}

.app-objects {
    margin-top: 2rem;
}

.main-content{
    width: 100%;
    display: flex;
    padding: 1rem;
}

app-accommodations{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-login{
    background: none;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;

}

.btn-login:hover{
    background-color: #c4c3c3;
    transition: 0.5s ease;
}

.btn-signup{
    background-color: var(--btn_secondary);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
}
.btn-signup:hover{
    background-color: var(--btn_secondary_hover);
    transition: 0.5s ease;
}   

.auth-buttons{
    display: flex;
    gap: 1rem;
}