.accommodations{
    width: 75%;
    padding: 2rem;
}
.objects_accommodate{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
    padding: 2rem 0;
}

.room-card{
    width: 22rem;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 5px 5px 16px rgba(0,0,0,0.1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.room-card:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(1.01); 
}

.room-card img{
    height: 15rem;
    width: 100%;
}

.especificacoes{
    display: flex;
    gap: 1rem;
}

.especificacoes p{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.parte_baixo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;    
}

.room-actions button{
    background: var(--btn_principal);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.3rem 0.8rem;
    transition: 0.5s;
}
.room-actions button:hover{
    opacity: 0.9;
    cursor: pointer;
}

.price{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.price p:first-child{
    font-weight: bold;
    font-size: 1.25rem;
}