.accommodations{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objects_accommodate{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
}
.text_accommodate{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.text_accommodate p{
   text-align: center;
}
.room-card{
    width: 20rem;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 5px 5px 16px rgba(0,0,0,0.1);
    transition: transform 300ms;
    
}
.room-card-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.room-card:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(1.01); 
}

.room-card img{
    height: 15rem;
    width: 100%;
}

.especificacoes{
    display: flex;
    gap: 1rem;
}

.especificacoes p{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}


.room-actions{
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.room-actions .btn_room{
    width: 60%;
    background: var(--btn_principal);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.3rem 0.7rem;
    transition: 0.5s;
}
.room-actions .btn_room:hover{
    opacity: 0.9;
    cursor: pointer;
}

.price{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
}

.price p:first-child{
    font-weight: bold;
    font-size: 1.25rem;
}

.btn-reserve{
    width: 40%;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    padding: 0.3rem 0.7rem; 
}

.room-meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}